/* BASIC STYLES HERE */
.col-2 {
  min-height: 14vh;
  background-color: #010a78;
  border: 4px solid black;
}

.category-text {
  color: rgb(226, 226, 226);
  font-weight: 600;
  font-size: 26px;
}

.jeopardy-text {
  color: rgb(255, 213, 0);
  font-weight: 600;
  font-size: 54px;
}

.question-card {
  background-color: blue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;

}

.question-text {
  color: rgb(248, 237, 84);
  font-weight: 600;
  font-size: 36px;
}

.answer-text {
  color: rgb(226, 226, 226);
  font-weight: 500;
  font-size: 24px;
}